* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Silkscreen', sans-serif;
    color: #333;
    background-color: #aaa8bd;
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
}

.overlay h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

#start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}